/* ....................navbar.................................. */
:root {
  --geebung-50: rgb(254, 251, 232);
  --geebung-100: rgb(253, 248, 196);
  --geebung-200: rgb(253, 236, 139);
  --geebung-300: rgb(251, 219, 73);
  --geebung-400: rgb(248, 197, 23);
  --geebung-500: rgb(232, 172, 10);
  --geebung-600: rgb(210, 139, 6);
  --geebung-700: rgb(160, 94, 8);
  --geebung-800: rgb(132, 74, 15);
  --geebung-900: rgb(112, 61, 19);
  --geebung-950: rgb(65, 31, 7);
}
*{
  margin: 0;
  padding: 0;
}
i{
  color: var(--geebung-400);;
    font-size: 20px;
}
.navbar-collapse{
    align-items: center;
    
}
.icon-link{
    margin-left: 20px;
}
.nav-link{
    font-weight: 600;
}
@media screen and (min-width: 768px) {
    .store-lista i {
        display: none;

      
        
    }
}
@media screen and (max-width: 576px) {
    .store-icon2 {
        display: none;
        
    }

}
.btn{
  color: rgb(255, 255, 255);
  border-color: #fff;
  background-color:var(--geebung-400);
}

/* ....................navbar (end).................................. */
/*------------------------------------- hero----------------------------- */
h1{
  font-size: medium;
}
.hero{
    min-height: 200px;
    text-align: center;
}

.texto-naranja{
    color: var(--geebung-400);
}
.text-portada{

width: 25%;
height: 90%;
flex-direction: column;
position: absolute;
left: 15%;
top: 5%;

font-family: 'Fjalla One', sans-serif;
font-weight: 400;
justify-content: start;



}

@media screen and (max-width: 576px) {
    .text-portada-izq{

        font-size: medium;
        
    }
    .text-portada{
      left: 0;
      
    }
    .text-portada h2{
      font-size: 30px;
    }
}
@media screen and (max-width: 576px){
    .hero-imagen-portada{
       display: none;
       
       
    }
    .text-portada{
        position: relative;
        width: 70%;
        height: 70%;
        right: auto;    
        
        background-color: rgba(235, 245, 245, 0.2);   
    }

.hero-principal{
  
    background-image: url('images/habitaciones/vacaciones3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    opacity: 85%;
    justify-content: center;
   }
   .hero{
   
    height: 600px;
   }

}
/*  ----------------------hero(end)-------------------------------   */
/*  ----------------------funcionalidad-------------------------------   */
.titulo-funcion h2{
font-size: xx-large;
}

.categoria-funcion h2{
    color:black;
    font-size: medium;
}
/*  ----------------------funcionalidad(end)-------------------------------   */
/* .boton-explora{
  height: 90%;
  flex-wrap: nowrap;
  width: 100%;
  display: flex;
} */

/* imagenes carrusel*/
.carousel-item img {
  width: 100%;
 
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  object-position: 20% 30%;
}

/* imagenes carrusel end*/
.estructura{
  display: flex;
  position: relative;
 height: 40vh;
 width: 100%;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.estructura img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: none;
  opacity: 70%;
  z-index: 2;
  object-fit: contain;
  right: 20%;
  

}
.estructura h2{
  position: absolute;
  z-index: 10;
  font-size: 2.4rem;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 500;
  color: var(--geebung-500);
  
}
/* beneficios */
.titulo-funcion,.sensores, .ofertas div, h2{
  color: var(--geebung-700);
  font-size: xx-large;
}
h3{
  font-size: large;
  color: rgb(0, 0, 0);
}
/* beneficios (end)*/
/* carussel */
.ofertas{

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--geebung-100);
}
.ofertas-imagenes img{
  
  width: 40%;
  height: 40%;
 

 }
.carrusel{
  display: flex;
 
  
}



.carrusel img {  
 border-radius: 5%;
  transition: transform 0.3s ease-in-out;
  padding: .1%;
}

.carrusel img:hover {
  transform: scale(1.2);
}


/* carussel(end) */
/* .....................sensores-productos......................... */
.sensores-productos{
height: 700px; 
}
.carousel{
  height: 60%;
}
.sensores-productos>div{
  display: flex;

}
.sensores-productos>div>img{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  object-fit: cover;
  right: .1%;

}
.carousel-control-next-icon,.carousel-control-prev-icon{
  background-color:var(--geebung-300);
  color: black;
}
.carousel-inner img{
  max-height: 200px;
  object-fit: contain;
  object-position: center; 
}
.carousel-inner{
 position: absolute;
 bottom: 5%;
 max-height: 385px;
}
/* .carousel-item{
margin-left: 20%;
} */
.carousel-caption h5,p{
color: var(--geebung-800);

}
.carousel-caption,.carousel-indicators{
  position: unset;
  
}
.carousel-caption{
  width: 60%;
  margin-left: 20%;
  
}
/* .............................contactenos.............................. */
.contactenos{
  margin: 0;
  padding: 0;
}
.contactenos-contenedor1{
  justify-content: end;
  display: flex;
  height: 300px;
  
}
.contactenos-contenedor2{
  display: flex;
  
  height: 300px;

}
.contactenos-contenedor-sub1{
  height: 300px;
  background-color: var(--geebung-200);
}
.contactenos-contenedor-sub2{
  height: 300px;
  background-color:var(--geebung-300);
}
textarea, input{
  width: 100%;
  list-style: none
}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
/*  */

/* .............................contactenos(end).............................. */


/* .....................sensores-productos (end)......................... */
/*-----------------------------------footer---------------------------------        */
footer {
  
    
  width: 100%;
  background:linear-gradient(rgb(238, 167, 34),rgba(179, 131, 35, 0.4));
  /* background: rgb(69, 175, 245); */
  border-top: 3px solid rgb(242, 245, 69);
}

/* Footer Top Start */
.footer-top {
  display: flex;
 
  
  
  
  
}
.col{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 
}
.footer-top{
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  
  
}

.footer-top .col .head-title h2 {
  color: #fff;
  font-weight: 600;
  font-size: large;
  text-transform: uppercase;

  position: relative;
  cursor: pointer;
}

.footer-top .col .head-title h2::after {
  content: "";
  width: 8%;
  height: 3px;
  background: rgb(245, 213, 69);
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}


.footer-top .col .contenedor p {
  font-size: 14px;
  color: #8d99ae;
 
  
}

.footer-top .col .contenedor ul li {
  list-style: none;
  
}
.footer-top .col .contenedor ul{
 padding-left: 0;
}
.footer-top .col .contenedor ul li a {
  text-decoration: none;
  color: #ffffff;
  

}

.footer-top .col .contenedor ul li a:hover {
  color: rgb(245, 213, 69);
}

.footer-top .col .contenedor ul li a i {
  color: rgb(245, 213, 69);
  
}
/* Footer Top Start */

/* Footer Bottom Start */
.footer-bottom {
  background:linear-gradient(rgba(230, 206, 101, 0.11), rgba(226, 223, 37, 0.2));
  font-size: 16px;
  color: #ffffff;
  width: 100%;
}

.footer-bottom .payment-method ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-bottom .payment-method li {
  list-style: none;
  margin: 0 5px;
  padding: 10px 0;
}

.footer-bottom .payment-method li i {
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.5s;
}

.footer-bottom .payment-method li i:hover {
  color: rgb(247, 247, 247);
  transform: scale(1.1);
}

.footer-bottom .copyright p {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
}

.footer-bottom .copyright i {
  color: rgb(245, 213, 69);
}

.footer-bottom .copyright a {
  color: #fffcfc;
  text-decoration: none;
}

.footer-bottom .copyright a:hover {
  color: rgb(245, 213, 69);
}
/* Footer Bottom End*/